<ion-content id="masters" [fullscreen]="true">


  <div id="body">

    <div id="container">
      <section id="sectionlogin">
        <div id="logo"></div>

        <input type="button" id="botaoselect" value="Ambulante">
        <input type="button" id="botaoselect" value="Food Truck">
        <input type="button" id="botaoselect" value="Restaurante">
        <input type="button" id="botaoselect" value="Funcionário">

        <div id="center-cdois" >

          <button id="botao-cdois" routerLink="../cadastro">< Voltar</button>
          <button id="botao-cdois" routerLink="../cadastrotres" > Entrar ></button>

        </div>

      </section>
    </div>
  </div>

</ion-content>
