<ion-content id="masters" [fullscreen]="true">



  <div id="body">

    <div id="background">
      <h2 id="text-background"><u>Seu estoque</u></h2>
    </div>

    <div  id="box-estoque">
      

    </div>



    <footer>
      <ion-icon id="iconefooter" name="receipt-outline"></ion-icon>
      <ion-icon id="iconefooter" name="stats-chart-outline"></ion-icon>
      <ion-icon id="iconefooter" routerLink="../telainicial" name="home-outline"></ion-icon>
      <ion-icon id="iconefooter-selecionado" name="cube-outline"></ion-icon>
      <ion-icon id="iconefooter" name="settings-outline"></ion-icon>
    </footer>
  </div>






</ion-content>
