<ion-content id="masters" [fullscreen]="true">



  <div id="body">

    <div id="background">
      <ion-icon id="backbutton" routerLink="../telainicial" name="chevron-back-outline"></ion-icon>
      <h2 id="text-background"> <u>Seus Lembretes</u> </h2>
    </div>

    <div id="titulo-lembretes">
      <h2 routerLink="../lembretes" id="titulo-lembretes-text">Lembretes</h2>
    </div>

    <div id="inicial-lembretes">

      <div id="centro-lembretes">


        <div id="box-lembretes">

          <div id="lembrete-single">
            <ion-icon id="alerta" name="alert-outline"></ion-icon>
            <p id="text-lembretes-inicial">Produto expira amanhã!</p>
          </div>

          <div id="lembrete-single">
            <ion-icon id="alerta" name="alert-outline"></ion-icon>
            <p id="text-lembretes-inicial">Produto expira amanhã!</p>
          </div>

          <div id="lembrete-single">
            <ion-icon id="alerta" name="alert-outline"></ion-icon>
            <p id="text-lembretes-inicial">Produto expira amanhã!</p>
          </div>

          <div id="lembrete-single">
            <ion-icon id="check" name="checkmark-outline"></ion-icon>
            <p id="text-lembretes-inicial">Você cumpriu uma meta!</p>
          </div>

          <div id="lembrete-single">
            <ion-icon id="evento" name="checkmark-outline"></ion-icon>
            <p id="text-lembretes-inicial">Um evento esta chegando!</p>
          </div>

          <div id="lembrete-single">
            <ion-icon id="evento" name="checkmark-outline"></ion-icon>
            <p id="text-lembretes-inicial">Um evento esta chegando!</p>
          </div>

                    <div id="lembrete-single">
            <ion-icon id="evento" name="checkmark-outline"></ion-icon>
            <p id="text-lembretes-inicial">Um evento esta chegando!</p>
          </div>

        </div>

        <footer>

          <ion-icon id="iconefooter" name="receipt-outline"></ion-icon>
          <ion-icon id="iconefooter" name="stats-chart-outline"></ion-icon>
          <ion-icon id="iconefooter" name="home-outline"></ion-icon>
          <ion-icon id="iconefooter-selecionado" name="cube-outline"></ion-icon>
          <ion-icon id="iconefooter" name="settings-outline"></ion-icon>


        </footer>


    </div>

