<ion-content [fullscreen]="true">

  <div id="body">

    <div id="container">
      <section id="sectionlogin">
        <div id="logo"></div>

        <input type="text" placeholder="Nome do Produto">
        <input type="number" placeholder="Quantidade">
        <input type="text" placeholder="Validade">
        <input type="text" placeholder="Preço">

        <button id="botao-addProduto">Adicionar Produto</button>

        <h2>Produtos Cadastrados</h2>

        <div class="cardProduto">
          <div class="linha">
            <h3>Batata</h3>
          </div>
          <div class="linha">
            <h4>R$ 5,00</h4>
            <h4>20 produtos</h4>
          </div>
        </div>

      </section>
    </div>
  </div>

</ion-content>
